/* Add your CSS styles here */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.fab-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	/* Para garantir que o botão fique acima de outros elementos */
	margin-bottom: 20px;
	/* Margem inferior para afastar do rodapé */
	margin-right: 20px;
	/* Margem direita para afastar da borda direita */
}

.fab {
	background-color: #007bff;
	color: white;
	border-radius: 50%;
	width: 70px;
	/* Alterado para 70px */
	height: 70px;
	/* Alterado para 70px */
	text-align: center;
	font-size: 24px;
	line-height: 70px;
	/* Ajustado para o mesmo valor da altura */
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.fab-options {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	opacity: 0;
	transition: transform 0.2s, opacity 0.2s;
	pointer-events: none;
}

.fab-options.active {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}

.fab-options li {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.fab-label {
	margin-right: 10px;
}

.fab-icon-holder {
	background-color: #007bff;
	color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.fab-icon-holder:hover {
	background-color: #0056b3;
}

.fab-options>li:last-child {
	cursor: default;
}

.fab-options>li:last-child {
	z-index: 1;
	/* Define a posição acima do botão fixo */
	pointer-events: none;
	/* Impede que o último botão seja clicável */
}

/* Adiciona o estilo para o botão fixo verde */
.fab-icon-holder {
	color: green;
	/* Cor do ícone do botão fixo */
}

/* Adiciona cores diferentes para os outros botões */
.fab-facebook .fab-icon-holder {
	color: blue;
	/* Cor do ícone do botão Facebook */
}

.fab-instagram .fab-icon-holder {
	color: purple;
	/* Cor do ícone do botão Instagram */
}

.fab-twitter .fab-icon-holder {
	color: cyan;
	/* Cor do ícone do botão Twitter */
}