# IGNORAR [SIM] → {TUDO} (MANTER NO INICIO!!!)
*

# IGNORAR [NAO]
!/src/
!/src/**

# IGNORAR [NAO] → {DENTRO DA 'src'}
!*eslint*
!manifest.json
!package.json

# IGNORAR [SIM] → {DENTRO DA 'src'}
*teste*
*_temp*
*.json
*.pac
/src/scripts/objects/
*__pycache__/


.gitignore