# CONFIGURAR gitIgnore GLOBAL → git config --global core.excludesfile "D:\ARQUIVOS\PROJETOS\Chrome_Extension\.gitignore"
# IGNORAR [SIM] → {TUDO} (MANTER NO INICIO!!!)
*

# IGNORAR [NAO]
!/src/
!/src/**

# IGNORAR [NAO] → {DENTRO DA 'src'}
!*eslint*
!manifest.json
!package.json

# IGNORAR [SIM] → {DENTRO DA 'src'}
*teste*
*_temp*
*.json
*.pac
/src/scripts/objects/
*__pycache__/

##### FILTRO VS Code #####
# arquivos a serem incluídos
# →   *.js,*.py,*.vbs,*.bat,*.ps1,*.txt,*.json
# arquivos a serem excluídos
# →   **PORTABLE_FreeFileSync/Logs